.pageHeader {
  /*top: 0px;*/
  /*left: 0px;*/
  /*width: 1920px;*/
  /*height: 60px;*/
  background: transparent linear-gradient(180deg, #113E5E 0%, #2C0182 100%) 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  padding-left: 50px;
}

.navbar-brand {
  /*font: normal normal bold 30px/37px Roboto;*/
}

